body {
    background-color: #eae2c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kenny {
    position: relative;
    width: 120px;
    height: 180px;
}

.hood {
    width: 100px;
    height: 100px;
    background-color: #d66a26;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 10px;
}

.body {
    width: 100px;
    height: 120px;
    background-color: #d66a26;
    position: absolute;
    top: 100px;
    left: 10px;
    border-radius: 10px;
}

.eyes {
    position: absolute;
    top: 40px;
    left: 18px;
    width: 84px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.left-eye,
.right-eye {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 5px;
}

.left-eye::before,
.right-eye::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}

.mouth {
    width: 40px;
    height: 10px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 40px;
}
